* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    list-style: none;
    display: inline-flex;
    align-items: center;
    list-style-type: none;
    
}

h1 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    
}